.chat-header {
    height: 48px;
    background-color: #313338;
    width: 100%;
    box-shadow: rgba(2, 2, 2, 0.2) 0px 1px 0px 0px, rgba(6, 6, 7, 0.05) 0px 1.5px 0px 0px, rgba(2, 2, 2, 0.05) 0px 2px 0px 0px;
    position: relative;
    display: flex;
    padding: 0 8px;
}

.children {
    display: flex;
    align-items: center;
}

.icon-wrap {
    fill: rgb(130, 133, 143);
    margin: 0 8px;
}

.chat-title {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    font-weight: 600;
    color: white;
}

